// Typography Styles

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto+Mono:wght@300;400&display=swap');

$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto Mono', monospace;

h1, h2, h3, h4, h5, h6, button{
  font-family: $fontPrimary;
}
p, a, ul, li, table, td {
  font-family: $fontSecondary;
  line-height: 1.8;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
} 

h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

.weight-500 {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

a {
  color: $color-black;
  text-decoration: none;
  
  &:hover {
    color: rgba($color-black, 0.8);
    text-decoration: none;

  }
}