//#Media Queries
// Devices
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$media-phone: 480px;
$media-phone-landscape: 640px;
$media-tablet-portrait: 768px;
$media-tablet-landscape: 920px;
$media-desktop-small: 1024px;
$media-desktop-regular: 1200px;
$media-desktop-medium: 1366px;
$media-desktop-large: 1600px;
$media-fixed-container: 1080px;

//#Colors
$color-primary: #f2f2f2;
$color-secondary: #000;
$color-black: rgb(77, 77, 77);
$color-white: #fff;

//Fonts
$font-primary: Arial, sans-serif;
$font-secondary: 'Oswald', sans-serif;






